{% extends 'index.html' %}
{% block content %}

<div class="row">
    <h2 class="text-center alert alert-secondary">Welcome {{fname}} {{lname}}</h2>
    <div class="col-sm-8 offset-2">
        <h3 class="text-center alert alert-primary">Add New Data</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Add" class="btn btn-success offset-3">

            <a href="{% url 'showdata' %}" class="btn btn-info">Show Records</a>
            <a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>
        </form>
    </div>
</div>
{% endblock content %}